<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tic Tac Toe</title>
    <link rel='stylesheet' type='text/css' href="/css/theme.css"/>
  </head>

  <body>
    <h1>Welcome To Tic Tac Toe

      <table>
        <% @game_state.formatted_rows.each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td>
                <% if @game_state.valid_moves_includes?(cell.to_s) %>
                  <%= cell %>
                <% else %>
                  <% if !@game_state.status? %>
                    <a class="board-display" href="#" onclick="cellIsClicked()" data-id="cell-<%= cell.to_i %>" data-value="<%= cell.to_i + 1 %>"/>
                    <%else %>
                    <%= cell.to_i + 1 %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>

      <p><%= @game_state.status%></p>

      <script src="javascript/BoardOnClick.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </body>
  </html>
